* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.box {
    /* margin: 0 auto; */
    width: 400px;
    height: auto;
    background-color: #262626;
    margin-top: 100px;
    padding: 20px;
    border-radius: 3px;
}

.box__content {
    padding: 10px;
    color: white;
}

.box__label {
    margin-bottom: 20px;
    text-align: center;
}

.box__input { 
    margin-bottom: 20px;
}

input[type=text] {
    width: 100%;
    border-radius: 3px;
    border: none;
    padding: 5px;
}

.box__button {
    margin-bottom: 20px;
    width: 100%;
}

.buttonGenerate {
    /* width: 100px; */
    margin: 0 auto;
}